.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ffce00;
}

.mainTitle {
  width: 90%;
  text-align: center;
  color: black;
  font-size: 48px;
  font-weight: 600;
  margin-top: 15vh;
}

.subTitle {
  text-align: center;
  margin-top: 40px;
  font-size: 32px;
  font-weight: 500;
  width: 80%;
}

.illustrationWrapper {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.backgroundContainer {
  width: 100%;
  height: 100vh;
}

.background {
  width: 100%;
  height: 100vh;
}

.cont {
  width: 100%;
  height: 100vh;
  position: relative;
}

.boxy {
  background-color: green;
}

.contentContainer {
  position: absolute;
  width: 80%;
  margin-left: 10%;
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.backgroundTitle {
  font-size: 32px;
  text-align: center;
  color: #556a78;
}

.backgroundContent {
  font-size: 24px;
  text-align: center;
  margin-top: 32px;
  color: #556a78;
}

.textContainer {
  padding: 48px 10%;
  padding-right: 0%;
  background-color: #f2f2f2;
}

.messageText {
  font-size: 32px;

}

.youthAdvocateContainer {
  padding: 24px 10%;
  padding-right: 0%;

  background-color: #f2f2f2;
}

.youthAdvocateTitle {
  font-size: 24px;
  margin-right: 25px;

}

.youthAdvocateIllustration {
  width: 100%;
}

.youthAdvocateContent {
  font-size: 24px;
  text-align: center;
}

.joinusContainer {
  width: 100%;
  background-color: #FFDEA7;
}

.joinusTitle {
  padding: 24px 10px 24px 10%;
  font-size: 32px;
}

.joinusContent {
  font-size: 24px;
  padding-left: 10%;
}

.statsContainer {
  background-color: #FFDEA7;
}

.statsTitle {
  padding: 24px 0px;
  padding-left: 10%;
}

.advocatesJoinContainer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 32px;
}

.advocatesJoinTitle {
  text-align: center;
  padding: 32px 0px;
  font-size: 32px;
}

.marker {
  position: absolute;
  z-index: 100;
  width: 200px;
  height: 1px;
  background-color: indigo;
}

@media screen and (min-width: 700px) {
  .contentContainer {
    top: 45%;
  }

  .backgroundTitle {
    font-size: 40px;
  }

  .mainTitle {
    font-size: 48px;
  }

  .messageText {
    font-size: 40px;
  }

  .youthAdvocateTitle {
    font-size: 24px;
  }

  .youthAdvocateIllustration {
    width: 70%;
    margin-left: 15%;
  }

  .joinusTitle {
    font-size: 40px;
  }

  .joinusContent {
    font-size: 26px;
  }

  .statsTitle {
    font-size: 40px;
  }

  .advocatesJoinTitle {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .mainTitle {
    font-size: 63px;
  }

  .subTitle {
    font-size: 40px;
  }

  .illustrationWrapper {
    flex-direction: row;
  }

  .contentContainer {
    top: 50%;
  }

  .backgroundTitle {
    font-size: 48px;
  }

  .messageText {
    font-size: 48px;
  }

  .youthAdvocateTitle {
    font-size: 36px;
    font-weight: 300;
    padding-right: 250px;
  }

  .youthAdvocateIllustration {
    width: 60%;
    height: 60vh;
    margin-left: 20%;
  }

  .youthAdvocateIllustration {
    width: 50%;
    height: 60%;
    margin-left: 25%;
  }

  .joinusTitle {
    font-size: 48px;
  }

  .joinusContent {
    font-size: 32px;
  }

  .statsTitle {
    font-size: 48px;
  }

  .advocatesJoinContainer {
    padding: 5% 0;
  }

  .advocatesJoinTitle {
    font-size: 48px;
  }
}