.wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 60px);

    padding: 0px 15px;
}

.imageUploader {
    margin: 0px 15px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}