.wrapper {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.questionWrapper {
  flex: 1;
  padding: 50px 20px;
}

.optionsWrapper {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
