.container {
    width: 100%;
    height: 100vh;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    background-color: #fdeaa2;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.backgroundSquare {
    position: absolute;
    width: 85vw;
    height: 85vw;
    background-color: #fee188;
    border-radius: 50px;
    top: -5%;
    left: -25%;
    transform: rotateZ(45deg);
}

.backgroundCircle {
    position: absolute;
    width: 70vw;
    height: 70vw;
    background-color: #fee188;
    border-radius: 50%;
    bottom: -30vw;
    left: 15vw;
}

.titleContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainTitle {
    font-size: 48px;
}

.mainContent {
    font-size: 32px;
    text-align: center;
    margin-top: 48px;
}

@media screen and (min-width:700px) {
    .backgroundSquare {
        width: 50vw;
        height: 50vw;
        top: 0px;
        left: -30%;
    }

    .mainTitle {
        font-size: 48px;
    }

    .mainContent {
        font-size: 32px;
    }
}

@media screen and (min-width:1200px) {
    .backgroundSquare {
        width: 30vw;
        height: 30vw;
        left: -10%;
    }

    .backgroundCircle {
        width: 40vw;
        height: 40vw;
        left: 35vw;
    }

    .mainTitle {
        font-size: 56px;
    }

    .mainContent {
        font-size: 36px;
    }
}